/aula1/prjExemplo1/build/
/aula1/prjExemplo1/dist/
/aula2/prjExemplo2/nbproject/private/
/aula2/prjExemplo2/build/
/aula3/prjRetangulo/nbproject/private/
/aula3/prjRetangulo/build/
/aula3/prjCirculo/nbproject/private/
/aula3/prjCirculo/build/
/aula3/prjAluno/nbproject/private/
/aula3/prjAluno/build/